body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}
  
#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  

.movie-card {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; 
}


iframe {
  display: block;
  margin: 10px auto; 
  max-width: 100%;
}


button {
  display: inline-block;
  margin-top: 10px;
}

button:focus {
  outline: none;
}

  
.movie-poster {
  width: 100%;
}
  
.description, .reviews {
  margin-top: 10px;
}
  
/* Style the 'more' and 'less' buttons to look like links */
.more-btn, .less-btn {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.more-btn:hover, .less-btn:hover {
  color: #0056b3;
  text-decoration: none;
}


.close-trailer-btn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
}
